@import url('https://fonts.googleapis.com/css?family=Mali');
* {
    box-sizing: border-box;
}



body {
    margin: 0;
    font-family: sans-serif;
    background: #fdddca;
    font-family: 'Mali', cursive;
}

h1 {
    color: #fff;
    text-align:  center;
}

.registrar {
    width: 95%;
    max-width: 500px;
    margin: 20px  450px;
    background: white;
    border-radius: 7px;
    
}

.titulo {
    background: rgb(255, 199, 126);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid rgb(235, 201, 11);
}

.contenedor-input {
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input{
    margin-bottom:  15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgray;
}

.ancho_48 {
    width: 48%;
}

.ancho_100 {
    width: 100%;
}

.btn {
    color: #fff;
    background: rgba(253, 21, 21, 0.685);
    margin: auto;
    padding: 10px 40px;
}
.linkk {
    width: 100%;
    margin: 7px;;
    font-size:  14px;
    text-align: center;
}
.btn:active{
    transform: scale(1.05);
}